.navbar-default {
  background-color: white;
  border-color: white;
  border-bottom: 1px solid #999;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav > li p {
  padding-top: 10px;
}

.navbar-default .introduction {
  font-size: 0.9em;
  color: #aaa;
}
